spring:
  application.name: blog-backend
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  sql.init:
    mode: always
    schema-locations: classpath:schema.sql